Flask-Login
Flask-SQLAlchemy
SQLAlchemy
celery
dash
dash-bootstrap-components
flask
gunicorn
librosa
numpy
pandas
plotly
python-dotenv
redis
scikit-learn
scikit-maad
scipy
soundfile
tensorflow
werkzeug