Flask-Login
Flask-SQLAlchemy
SQLAlchemy
dash
dash-bootstrap-components
dask[distributed]
flask
gunicorn
librosa
numpy
pandas
plotly
python-dotenv
scikit-learn
scikit-maad
scipy
soundfile
tensorflow
werkzeug